@font-face {
font-family: morguns;
src: url(../fonts/Morguns-Condensed.ttf);
}

@font-face {
    font-family: sansumiReg;
    src: url(../fonts/Sansumi-Regular.ttf);
}

@font-face {
    font-family: din;
    src: url(../fonts/DIN.ttf);
}

@font-face {
    font-family: dinBold;
    src: url(../fonts/DIN\ Bold.ttf);
}

@font-face {
    font-family: dinMed;
    src: url(../fonts/DIN\ Medium.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400&display=swap');

.row{
    margin: 0;
}

.navbar{
    background-color: #000000;
}

.nav-link{
    font-family: din;
    text-transform: uppercase;
}

.btn-outline-dark{
    font-family: din;
}

.container-fluid{
    padding: 20px 35px 20px 35px;
}

.info-div{
    text-align: right;
    padding-top: 10vh;
}

.row{
    padding-left: 10%;
    padding-right: 10%;
}

.btn-outline-dark {
    background-color: #24148C;
    color: #ffffff;
}

.info-div h1{
    font-family: morguns;
    text-transform: uppercase;
    font-size: 8vw;
}

.info-div p{
    font-family: din;
    margin-bottom: 30px;
}

#introCarousel, .carousel-inner, .carousel-item, .carousel-item.active {
    min-height: 100vh;
}

.carousel-item:nth-child(1) {
    background-image: url('../images/bg-main-purple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}

.carousel-item:nth-child(2) {
    background-image: url('../images/bg-main2.png');
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 758px) {
    .info-div h1{
        font-size: 15vw;
    }
}


.navbar-toggler{
    border: none;
}


.toggler{
    color: #ffffff;
}

.navbar{
    background-color: #000000;
}

.nav-link{
    color: #ffffff;
}

.recent-wrapper{
    background-color: #EAEAEA;
    padding: 30px;
    padding-top: 50px;
}

.recent{
    font-family: morguns;
    text-transform: uppercase;
    font-size: 65px;
}


.btn-primary{
    background-color: #24148C;
    color: #ffffff;
    border: #24148C;
}

.card{
    border: #000000 solid 2px;
    background-color: #00000010;
    padding: 10px;
}

.img-fluid{
    border-radius: 2px;
}

.card-title{
    font-family: dinBold;
    text-transform: uppercase;
}

.price{
    font-family: dinMed;
}

.pd-info{
    font-family: din;
}

.vmp-btn a{
    margin: 30px;
    border-radius: none;
    font-family: din;
    background-color: #000000;
    padding: 5px 45px 5px 45px;
}

footer{
    background-color: #EAEAEA;
}